In [21]:
# Import yfinance library
import yfinance as yf

# Define the start and end dates  
start_date = '2024-04-01'
end_date   = '2024-06-01'

# Define the list of tickers
tickers = ['AAPL', 'MSFT']

# Download historical prices for the list of ticker 
historical_prices = yf.download(tickers, start=start_date, end=end_date)

historical_prices.head()

[*********************100%%**********************]  2 of 2 completed

Price        Adj Close                   Close                    High  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-04-01  169.799698  423.805573  170.029999  424.570007  171.250000
2024-04-02  168.611298  420.681213  168.839996  421.440002  169.339996
2024-04-03  169.420197  419.692993  169.649994  420.450012  170.679993
2024-04-04  168.591339  417.127625  168.820007  417.880005  171.919998
2024-04-05  169.350296  424.753845  169.580002  425.519989  170.389999

Price                          Low                    Open              \
Ticker            MSFT        AAPL        MSFT        AAPL        MSFT
Date
2024-04-01  427.890015  169.479996  422.220001  171.190002  423.950012
2024-04-02  422.380005  168.229996  417.839996  169.080002  420.109985
2024-04-03  423.260010  168.580002  419.089996  168.789993  419.730011
2024-04-04  428.670013  168.820007  417.570007  170.289993  424.989990
2024-04-05  426.510010  168.949997  418.320007  169.589996  420.010010

Price         Volume
Ticker          AAPL      MSFT
Date
2024-04-01  46240500  16316000
2024-04-02  49329500  17912000
2024-04-03  47691700  16502300
2024-04-04  53704400  19370900
2024-04-05  42055200  16544300

In [22]:
historical_prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 35 entries, 2024-04-01 to 2024-05-17
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  35 non-null     float64
 1   (Adj Close, MSFT)  35 non-null     float64
 2   (Close, AAPL)      35 non-null     float64
 3   (Close, MSFT)      35 non-null     float64
 4   (High, AAPL)       35 non-null     float64
 5   (High, MSFT)       35 non-null     float64
 6   (Low, AAPL)        35 non-null     float64
 7   (Low, MSFT)        35 non-null     float64
 8   (Open, AAPL)       35 non-null     float64
 9   (Open, MSFT)       35 non-null     float64
 10  (Volume, AAPL)     35 non-null     int64
 11  (Volume, MSFT)     35 non-null     int64
dtypes: float64(10), int64(2)
memory usage: 3.6 KB

In [23]:
historical_prices.loc['2024-04-01':'2024-04-02'].head()

Price        Adj Close                   Close                    High  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-04-01  169.799698  423.805573  170.029999  424.570007  171.250000
2024-04-02  168.611298  420.681213  168.839996  421.440002  169.339996

Price                          Low                    Open              \
Ticker            MSFT        AAPL        MSFT        AAPL        MSFT
Date
2024-04-01  427.890015  169.479996  422.220001  171.190002  423.950012
2024-04-02  422.380005  168.229996  417.839996  169.080002  420.109985

Price         Volume
Ticker          AAPL      MSFT
Date
2024-04-01  46240500  16316000
2024-04-02  49329500  17912000

In [24]:
historical_prices.loc['2024-05'].head()

Price        Adj Close                   Close                    High  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2024-05-01  169.070679  394.228912  169.300003  394.940002  172.710007
2024-05-02  172.795624  397.123688  173.029999  397.839996  173.419998
2024-05-03  183.131607  405.927826  183.380005  406.660004  187.000000
2024-05-06  181.463882  412.795441  181.710007  413.540009  184.199997
2024-05-07  182.152924  408.602997  182.399994  409.339996  184.899994

Price                          Low                    Open              \
Ticker            MSFT        AAPL        MSFT        AAPL        MSFT
Date
2024-05-01  401.720001  169.110001  390.309998  169.580002  392.609985
2024-05-02  399.929993  170.889999  394.649994  172.509995  397.660004
2024-05-03  407.149994  182.660004  401.859985  186.649994  402.279999
2024-05-06  413.929993  180.419998  406.369995  182.350006  408.760010
2024-05-07  414.670013  181.320007  409.089996  183.449997  414.660004

Price          Volume
Ticker           AAPL      MSFT
Date
2024-05-01   50383100  23562500
2024-05-02   94214900  17709400
2024-05-03  163224100  17446700
2024-05-06   78569700  16996600
2024-05-07   77305800  20018200

In [25]:
# Filter and keep only columns where the first level of the MultiIndex is 'Adj Close'
historical_prices  = historical_prices.loc[:, historical_prices.columns.get_level_values(0) == 'Adj Close']
historical_prices.head()

Price        Adj Close
Ticker            AAPL        MSFT
Date
2024-04-01  169.799698  423.805573
2024-04-02  168.611298  420.681213
2024-04-03  169.420197  419.692993
2024-04-04  168.591339  417.127625
2024-04-05  169.350296  424.753845

In [26]:
# Remove the MultiIndex and keep only the second level
historical_prices.columns = historical_prices.columns.droplevel(0)   
historical_prices.head()

Ticker            AAPL        MSFT
Date
2024-04-01  169.799698  423.805573
2024-04-02  168.611298  420.681213
2024-04-03  169.420197  419.692993
2024-04-04  168.591339  417.127625
2024-04-05  169.350296  424.753845